{% extends 'main.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-6 style">
        <div class="jumbotron">
            {% if status %}
                <h4 style="text-align:center">Forgot Password</h4>
                <p>&nbsp;</p>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="change-password-1" name="password" class="form-control" placeholder="Enter Password" />
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="change-password-2" name="confirm_password" class="form-control" placeholder="Confirm Password" />
                </div>
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg form-control" id="password-set">Change Password</button>
                    </div>
                </form>
                <div class="error-message-bottom-all">
                    <span class="text-span" id="reset-password-success" style="color:green"></span>
                    <span class="text-span" id="reset-password-error" style="color:red"></span>
                </div>
            {%else%}
                <h6>Link Does Not match any request, Request Again For Link!</h6>
            {% endif %}
        </div>
    </div>
</div>
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock javascript %}
{% if status %}
<script>
function checkPassword(str)
{
    var regularExpression = /^(?=.*[0-9])(?=.*[!@#$%^&*])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9!@#$%^&*]{6,}$/;
    return regularExpression.test(str);
}
$("#password-set").unbind().click(function (e){
      e.preventDefault();
      $('#reset-password-success').empty();
      $('#reset-password-error').empty();
      $(".error-group").removeClass("error-group");
      var csrf_token = $("[name='csrfmiddlewaretoken']").val();
      var password = $("#change-password-1").val();
      var confirm_password = $("#change-password-2").val();
      var flag = 0;
      if (password == "") {
        $("#new-password").parent().parent().addClass("error-group");
        flag = 1;
      }
      if (checkPassword(password)==false){
          $("#reset-password-error").text("Password Must Have at-least six character,One Character between a-z, One Character between A-Z,One Character between Numeric, One Symbol.");
          return;
      }
      if (password != confirm_password) {
        $("#confirm_password").parent().parent().addClass("error-group");
        $("#reset-password-error").text("Passwords do not match");
        return;
      }
      if (flag == 1) {
        $("#reset-password-error").text("Please fill all required fields.");
        return;
      }
      else {
        $.ajax({
          url: "{% url 'reset-password' uid=uid%}",
          type: "POST",
          data: {
            csrfmiddlewaretoken: csrf_token,
            password: password,
          },
          success: function (response) {
            if (response["status"] == true) {
              $("#reset-password-success").text(response["message"]);
              setTimeout("location.reload(true)", 2000);
              return true;
            }
            $("#reset-password-error").text(response["message"]);
            return false;
          },
          error: function (err)
          {
            $("#reset-password-error").text(err);
          },
        });
      }
   });
</script>
{% endif %}

{% endblock %}